.start-page section.testimonials {
    background-color: #f9d783;
  }
  .start-page section.testimonials .container {
    padding: 7rem 0;
    background-color: #ffffff;
    align-items: center;
  }
  .start-page section.testimonials .container .cards {
    padding: 7rem;
    gap: 7rem;
  }
  .start-page section.testimonials .container .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: none;
  }
  .start-page section.testimonials .container .cards .card .stars {
    letter-spacing: 0.5rem;
  }
  .start-page section.testimonials .container .cards .card .quote {
    line-height: 2rem;
  }
  .start-page section.testimonials .container .cards .card .person {
    gap: 1rem;
    align-items: center;
  }
  .start-page section.testimonials .container .cards .card .person img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .start-page section.testimonials .container .cards .card .person .text h3, .start-page section.testimonials .container .cards .card .person .text p {
    margin: 0;
  }
  .start-page section.testimonials .container .cards .card .person .text p {
    color: red;
  }

/* SECTION TESTIMONIALS 1520 */
.start-page section.testimonials {
    padding: 0 0 7rem 0;
}

/* SECTION TESTIMONIALS 992 */
.start-page section.testimonials .container {
    padding: 7rem 3rem;
  }
  .start-page section.testimonials .container .highlight, .start-page section.testimonials .container h2 {
    align-self: start;
  }
  .start-page section.testimonials .container .cards {
    padding: 3rem 0;
    gap: 1.5rem;
    flex-direction: column;
  }
  .start-page section.testimonials .container .cards .card {
    gap: 0;
    padding: 0 3rem;
    align-items: center;
  }
  .start-page section.testimonials .container .cards .card .stars {
    align-self: center;
  }
  .start-page section.testimonials .container .cards .card .quote {
    text-align: center;
  }
  .start-page section.testimonials .container .cards .card:not(:last-of-type)::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #dad9d3;
    margin-top: 1.5rem;
  }

/* MEDIA QUERIES */
/* SECTION TESTIMONIALS 576 */
@media (max-width: 576px) {
    .start-page section.testimonials .container {
        padding: 3rem 1rem;
    }
}