.start-page section.team {
    background-color: #f9d783;
  }
  .start-page section.team .btn-c {
    border: 1px solid #191919;
  }
  .start-page section.team .cards {
    gap: 2rem;
    padding: 5rem 0 3rem 0;
  }
  .start-page section.team .cards .card {
    background-color: transparent;
    border: none;
    flex: 1;
  }
  .start-page section.team .cards .card img {
    height: 460px;
    object-fit: cover;
  }
  .start-page section.team .cards .card .text {
    margin-top: 2rem;
  }

/* MEDIA QUERIES */
/* SECTION TEAM 992 */
@media (max-width: 992px) {
  .start-page section.team .container .top {
    flex-direction: column;
  }
  .start-page section.team .container .top .text {
    align-self: start;
  }
  .start-page section.team .container .top .btngroup {
    padding-top: 3rem;
  }
  .start-page section.team .container .cards {
    flex-wrap: wrap;
  }
  .start-page section.team .container .cards .card {
    flex-basis: 33%;
  }
}

/* SECTION TEAM 576 */
@media (max-width: 576px) {
  .start-page section.team .container .cards .card {
    flex-basis: 100%;
  }
  .start-page section.team .container .cards .card img {
    height: 345px;
    object-position: auto 20%;
  }
}