.start-page section.hero {
    position: relative;
  }
  .start-page section.hero img.bg-lines {
    max-width: 50dvw;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .start-page section.hero .container .left {
    gap: 3rem;
    flex: 1;
  }
  .start-page section.hero .container .left .content {
    z-index: 99;
  }
  .start-page section.hero .container .left .btngroup {
    display: flex;
    gap: 1rem;
  }
  .start-page section.hero .container .right {
    flex: 1;
  }
  .start-page section.hero .container .right .showcase-img {
    width: 50vw;
    position: relative;
    bottom: 0;
    right: -50px;
  }

  /* MEDIA QUERIES */
  /* SECTION.HERO 1590 */
  @media (max-width: 1590px) {
    
    .start-page section.hero .container .right .showcase-img {
      right: 0;
    }
  }

  /* SECTION.HERO 1520 */
  @media (max-width: 1520px) {
    
    .start-page section.hero .container .right {
      position: relative;
    }
    .start-page section.hero .container .right .showcase-img {
      position: absolute;
    }
    .start-page section.hero .container .left {
      gap: 0;
    }
    .start-page section.hero .container .left .btngroup {
      padding-bottom: 3rem;
    }
  }

  /* SECTION HERO 992 */
  @media (max-width: 992px) {
    .start-page section.hero .container .right {
      display: none;
    }
  }