.start-page section.articles-news {
    background-color: #ffffff;
  }
  .start-page section.articles-news .top {
    justify-content: space-between;
    align-items: end;
  }
  .start-page section.articles-news .cards {
    padding: 3rem 0;
    gap: 2rem;
  }
  .start-page section.articles-news .cards a.card {
    flex: 1;
    border: none;
  }
  .start-page section.articles-news .cards a.card .image-wrapper {
    position: relative;
  }
  .start-page section.articles-news .cards a.card .image-wrapper img {
    width: 100%;
    max-height: 280px;
    object-fit: fill;
  }
  .start-page section.articles-news .cards a.card .image-wrapper .date-box {
    height: 5rem;
    width: 5rem;
    background-color: #f9d783;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .start-page section.articles-news .cards a.card .image-wrapper .date-box p.date, .start-page section.articles-news .cards a.card .image-wrapper .date-box p.month {
    margin: 0;
    padding: 0;
    line-height: 1.05;
  }
  .start-page section.articles-news .cards a.card .image-wrapper .date-box .date {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .start-page section.articles-news .cards a.card .text {
    margin-top: 2rem;
  }
  .start-page section.articles-news .cards a.card .line {
    margin: 0 auto;
    width: 0%;
    height: 3px;
    background-color: #f9d783;
  }
  .start-page section.articles-news .cards a.card, .start-page section.articles-news .cards a.card > * {
    transition: all 0.3s ease-in-out;
  }
  .start-page section.articles-news .cards a.card:hover .text h3, .start-page section.articles-news .cards a.card:focus .text h3 {
    text-decoration: underline;
  }
  .start-page section.articles-news .cards a.card:hover .line, .start-page section.articles-news .cards a.card:focus .line {
    width: 100%;
  }

/* MEDIA QUERIES */
/* SECTION ARTICLES-NEWS 1520 */
@media (max-width: 1520px) {
  .start-page section.articles-news .top {
    flex-direction: column;
    align-items: start;
  }
  .start-page section.articles-news .top .btngroup {
    padding-top: 3rem;
  }
  .start-page section.articles-news .cards {
    flex-wrap: wrap;
  }
  .start-page section.articles-news .cards .card {
    flex-basis: 45%;
  }
  .start-page section.articles-news .cards .card .image-wrapper img {
    object-fit: cover;
    aspect-ratio: 3/2;
  }
  .start-page section.articles-news .cards .card:first-child {
    flex-basis: 100%;
  }
  .start-page section.articles-news .cards .card:first-child .image-wrapper img {
    max-height: 100%;
  }
}

/* SECTION ARTICLES-NEWS 768 */
@media (max-width: 768px) {
  .start-page section.articles-news .container .cards {
    gap: 2rem 0;
  }
  .start-page section.articles-news .container .cards .card {
    flex-basis: 100%;
  }
}
   
/* SECTION ARTICLES-NEWS 576 */
@media (max-width: 576px) {
  .start-page section.articles-news .container .top .btngroup {
    padding: 1rem 0;
  }
  .start-page section.articles-news .container .cards .card {
    flex-basis: 100%;
  }
}