.contact-page section.map {
    .container {
        height: 640px;
        margin: 0;
        padding: 0;
        max-width: none;
        background-color: $bg-footer;
        display: flex;
        align-items: start;
        justify-content: center;

        .map-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
    
            iframe {
                width: 100%;
                height: 640px;
            }

            small a {
                position: absolute;
                padding: 0 .1rem;
                /*bottom: .5rem;
                left: .1rem;*/
                bottom: 0;
                left: 0;
                background-color: rgb(255, 255, 255, 0.5);
            }
        }
    }
}

/* MEDIA QUERIES */
@media (max-width: 992px) { 
    /* SECTION MAP 992 */
    .contact-page section.map {
        .container {
            background-color: $bg-white;
            padding: 0 3rem;
        }

        .container, .map-wrapper, iframe {
            height: 420px;
        }
    } 
}

@media (max-width: 576px) { 
    /* SECTION MAP 576 */
    .contact-page section.map {
        .container, .map-wrapper, iframe {
            height: 360px;
        }

        .container .map-wrapper small a {
            top: 0;
            right: 0;
            bottom: auto;
            left: auto;
        }
    }
}