section.why-us {
    background-color: $bg-white;
    position: relative;
    padding-bottom: 0;

    .box {
        width: 55%;
        height: 60%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $bg-color;
    }

    .left {
        flex: 2;

        h2 {
            margin: 2rem 0;
        }

        .objects {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            a.object {
                color: $text-color-prim;
                gap: 2rem;
                justify-content: start;
                align-items: center;
            
                .icon {
                    height: 4.25rem;
                    width: 4.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $line-color;
                    border-radius: 50%;
                }

                &, & .icon {
                    @include default-transition(.8s);
                }

                &:hover, &:focus {
                    .icon {
                        border-color: transparent;
                        background-color: $text-color-prim;
                        color: $bg-white;
                        i {
                            animation-name: spin-pop;
                            animation-duration: 1s;
                            animation-iteration-count: 1;
                            animation-direction: normal;
                            animation-timing-function: ease-out;
                            animation-fill-mode: forwards;
                        }
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: .1rem;

                    h3, p {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    .right {
        flex: 3;
    
        .image-wrapper {
            padding-top: 4rem;
            width: 100%;

            img {
                width: 700px;
                height: 550px;
                float: right;
                object-fit: cover;
                position: relative;
                z-index: 5;
            }   
        }
    }
}

/* MEDIA QUERIES */
@media (max-width: 992px) { 
    /* SECTION WHY US 992 */
    .start-page section.why-us {
    
        .right, .box {
            display: none;
        }

        .left .objects {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}