.start-page section.why-us {
    background-color: #ffffff;
    position: relative;
    padding-bottom: 0;
  }
  .start-page section.why-us .box {
    width: 55%;
    height: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f0efe9;
  }
  .start-page section.why-us .left {
    flex: 2;
  }
  .start-page section.why-us .left h2 {
    margin: 2rem 0;
  }
  .start-page section.why-us .left .objects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .start-page section.why-us .left .objects a.object {
    color: #191919;
    gap: 2rem;
    justify-content: start;
    align-items: center;
  }
  .start-page section.why-us .left .objects a.object .icon {
    height: 4.25rem;
    width: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dad9d3;
    border-radius: 50%;
  }
  .start-page section.why-us .left .objects a.object, .start-page section.why-us .left .objects a.object .icon {
    transition: all 0.8s ease-in-out;
  }
  .start-page section.why-us .left .objects a.object:hover .icon, .start-page section.why-us .left .objects a.object:focus .icon {
    border-color: transparent;
    background-color: #191919;
    color: #ffffff;
  }
  .start-page section.why-us .left .objects a.object:hover .icon i, .start-page section.why-us .left .objects a.object:focus .icon i {
    animation-name: spin-pop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  .start-page section.why-us .left .objects a.object .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
  }
  .start-page section.why-us .left .objects a.object .text h3, .start-page section.why-us .left .objects a.object .text p {
    margin: 0;
  }
  .start-page section.why-us .right {
    flex: 3;
  }
  .start-page section.why-us .right .image-wrapper {
    padding-top: 4rem;
    width: 100%;
  }
  .start-page section.why-us .right .image-wrapper img {
    width: 700px;
    height: 550px;
    float: right;
    object-fit: cover;
    position: relative;
    z-index: 5;
  }

/* MEDIA QUERIES */
/* SECTION WHY US 992 */
@media (max-width: 992px) {
   .start-page section.why-us .right, .start-page section.why-us .box {
    display: none;
  }
  .start-page section.why-us .left .objects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}