.start-page section.service {
    position: relative;
  }
  .start-page section.service h2 {
    max-width: 50%;
  }
  .start-page section.service .cards {
    gap: 2rem;
    padding: 3rem 0;
  }
  .start-page section.service .cards .card {
    border: none;
    padding: 3rem 2rem;
    justify-content: space-between;
  }
  .start-page section.service .cards .card .line {
    height: 1px;
    width: 20%;
    background-color: #191919;
    margin-bottom: 2rem;
  }
  .start-page section.service .cards .card .btn-round {
    display: flex;
    justify-content: end;
  }
  .start-page section.service .cards .card .btn-round i {
    background-color: #191919;
    color: #ffffff;
    border: none;
  }
  .start-page section.service .cards .card, .start-page section.service .cards .card > * {
    transition: all 0.3s ease-in-out;
  }
  .start-page section.service .cards .card:hover, .start-page section.service .cards .card:focus {
    background-color: #f9d783;
  }
  .start-page section.service .cards .card:hover h3, .start-page section.service .cards .card:focus h3 {
    text-decoration: underline;
  }
  .start-page section.service .cards .card:hover i, .start-page section.service .cards .card:focus i {
    background-color: #ffffff;
    color: #191919;
  }
  .start-page section.service .cards .card.flipped {
    background-color: #f9d783;
  }
  .start-page section.service .cards .card.flipped .btn-round i {
    background-color: #ffffff;
    color: #191919;
  }
  .start-page section.service .cards .card.flipped:hover, .start-page section.service .cards .card.flipped:focus {
    background-color: #ffffff;
  }
  .start-page section.service .cards .card.flipped:hover i, .start-page section.service .cards .card.flipped:focus i {
    background-color: #191919;
    color: #ffffff;
  }
  .start-page section.service .btngroup .btn {
    width: fit-content;
  }
  .start-page section.service .lines {
    max-width: 50dvw;
    position: absolute;
    bottom: 0;
    right: 0;
  }

/* MEDIA QUERIES */
/* SECTION SERVICE 1520 */
@media (max-width: 1520px) {
  .start-page section.service h2 {
    max-width: 100%;
  }
  .start-page section.service .cards {
    flex-wrap: wrap;
  }
  .start-page section.service .cards .card {
    width: calc(50% - 1.5rem);
  }
}

/* SECTION SERVICE 768 */
@media (max-width: 768px) {
  .start-page section.service .cards .card {
    width: 100%;
  }
}