section.contact-form {
    background-color: $bg-white;
    padding: 1.5rem 0 7rem 0;
    .container {
        background-color: $bg-color;

        form {
            padding: 7rem;

            fieldset {
                display: flex;
                gap: .8rem;
                flex-direction: column;
                align-items: center;

                legend {
                    width: 25%;
                    h2 {
                    text-transform: none;
                    }
                }

                label, input, textarea, button {
                    width: 100%;
                }
                
                label {
                    display: flex;
                    flex-direction: column;

                    .icon {
                        height: calc(100% - 1rem);
                    }

                    &.error {
                                                
                        input::placeholder, textarea::placeholder { color: $invalid; }
                        input, textarea { 
                            border-color: $invalid;
                            box-shadow: -1px -1px 2px inset $invalid;
                            & + .icon::after {
                                content: "\f057";
                                color: $invalid; 
                            }
                        }
                        
                        input:focus::placeholder, textarea:focus::placeholder { color: transparent }

                    }

                    &.shake {
                        animation: horizontal-shaking .3s linear 1 alternate;
                    }

                    .error-text {
                        width: 100%;
                        height: .8rem;
                        text-align: right;
                        padding-right: 1rem;
                        margin-top: .2rem;
                        color: $invalid;  
                        font-size: .8rem;
                        font-weight: 600;
                    }
                }

                button {
                    padding: 1rem 2rem;
                    margin-top: 1rem;
                }

                .btn-text {
                    display: inline;
                    width: 100%;
                    height: .8rem;
                    text-align: right;
                    padding-right: 1rem;
                    margin-top: .2rem;
                    color: $valid;  
                    font-size: .8rem;
                    font-weight: 600;

                    &.active {
                        animation-name: fade-away;
                        animation-duration: 3s; 
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }    
}


@media (max-width: 1520px) {
    /* SECTION FORM 1520 */
    section.contact-form .container {
        #contact-form fieldset {
            legend {
                width: 50%;
            }
        }
    }
}

@media (max-width: 992px) { 
     /* SECTION FORM 992 */
     section.contact-form .container {
        #contact-form fieldset {
            legend {
                width: 75%;
            }
        }
    }    
}

@media (max-width: 768px) { 
    /* SECTION FORM 768 */
    section.contact-form .container {
        #contact-form {
            padding: 3rem 0;
            fieldset legend {
                text-align: center;
                width: 100%;
            }

        }
    }
}

@media (max-width: 576px) { 
    /* SECTION FORM 576 */
    section.contact-form .container #contact-form {
        padding-bottom: 3rem;

        fieldset label .icon.top {
            height: auto;
        }
    }
}