$font: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$bg-color: #f0efe9;
$bg-white: #ffffff;
$bg-footer:#0e1021;

$text-color-prim: #191919;
$text-color-sec: #84848a;

$prim-color: #f9d783;
$color-highlight:red;
$line-color: #dad9d3;

$valid: green;
$invalid: red;

@media (prefers-color-scheme: dark) {
    $bg-color: #191919;
    $bg-white: #000000;
    $bg-footer:#0e1021;
    
    $text-color-prim: #f0efe9;
    $text-color-sec: #84848a;
    $color-highlight:red;
    
    $prim-color: #f9d783;
    $line-color: #dad9d3;
}