/* MAIN.CONTACT-PAGE SECTIONS */
.contact-page section.hero {
  position: relative;
}
.contact-page section.hero img.bg-lines {
  max-width: 40dvw;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-page section.hero .container {
  justify-content: center;
  align-items: start;
}

.contact-page section.information {
  background-color: #ffffff;
  padding-bottom: 1.5rem;
}
.contact-page section.information .container .boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.contact-page section.information .container .boxes .box {
  padding: 1.5rem 3rem;
  border: 1px solid #f0efe9;
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: start;
}
.contact-page section.information .container .boxes .box .icon {
  height: 3rem;
  width: 3rem;
  background-color: #191919;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.contact-page section.information .container .boxes .box .text h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem 0;
  text-transform: none;
}
.contact-page section.information .container .boxes .box .text p {
  margin-bottom: 0;
  text-wrap: nowrap;
}

.contact-page section.form {
  background-color: #ffffff;
  padding: 1.5rem 0 7rem 0;
}
.contact-page section.form .container {
  background-color: #f0efe9;
}
.contact-page section.form .container form {
  padding: 7rem;
}
.contact-page section.form .container form fieldset {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.contact-page section.form .container form fieldset legend {
  width: 25%;
}
.contact-page section.form .container form fieldset legend h2 {
  text-transform: none;
}
.contact-page section.form .container form fieldset label, .contact-page section.form .container form fieldset input, .contact-page section.form .container form fieldset textarea, .contact-page section.form .container form fieldset button {
  width: 100%;
}
.contact-page section.form .container form fieldset button {
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.contact-page section.map .container {
  height: 640px;
  margin: 0;
  padding: 0;
  max-width: none;
  background-color: #0e1021;
  display: flex;
  align-items: start;
  justify-content: center;
}
.contact-page section.map .container .map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.contact-page section.map .container .map-wrapper iframe {
  width: 100%;
  height: 640px;
}
.contact-page section.map .container .map-wrapper small a {
  position: absolute;
  padding: 0 0.1rem;
  /*bottom: .5rem;
  left: .1rem;*/
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1520px) {
  /* SECTION INFORMATION 1520 */
  .contact-page section.information .container .boxes {
    /*flex-direction: column;
    align-items: center;*/
    flex-wrap: wrap;
  }
  .contact-page section.information .container .boxes .box {
    flex: none;
    width: 33dvw;
  }
  /* SECTION FORM 1520 */
  .contact-page section.form .container #contact-form fieldset legend {
    width: 50%;
  }
}
@media (max-width: 992px) {
  /* SECTION INFORMATION 992 */
  .contact-page section.information .container .boxes {
    flex-direction: column;
    align-items: center;
  }
  .contact-page section.information .container .boxes .box {
    width: 50dvw;
  }
  /* SECTION FORM 992 */
  .contact-page section.form .container #contact-form fieldset legend {
    width: 75%;
  }
  /* SECTION MAP 992 */
  .contact-page section.map .container {
    background-color: #ffffff;
    padding: 0 3rem;
  }
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 420px;
  }
}
@media (max-width: 768px) {
  /* SECTION INFORMATION 768 */
  .contact-page section.information .container .boxes .box {
    width: 100%;
  }
  /* SECTION FORM 768 */
  .contact-page section.form .container #contact-form {
    padding: 3rem 0;
  }
  .contact-page section.form .container #contact-form fieldset legend {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  /* SECTION INFORMATION 576 */
  .contact-page section.information .container .boxes .box .icon i {
    scale: 1;
  }
  /* SECTION FORM 768 */
  .contact-page section.form {
    padding-bottom: 3rem;
  }
  /* SECTION MAP 576 */
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 360px;
  }
  .contact-page section.map .container .map-wrapper small a {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
}