/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
/* VARIABLES */
/* MIXINS */
/* GLOBAL */
:root {
  font-size: 16px;
}

html, body, main {
  background-color: #ffffff;
  /* &, header, footer {
      width: 100dvw;
  }*/
  z-index: -99;
}
html > *, body > *, main > * {
  color: #191919;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header, nav, main {
  background-color: #f0efe9;
}

footer {
  background-color: #191919;
}

section {
  padding: 7rem 0;
}
section.m-small {
  padding: 3rem 0;
}
section.m-none {
  padding: 0;
}

.container {
  max-width: 1520px;
  z-index: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #191919;
  font-weight: 700;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-weight: 700;
}

.highlight {
  color: red;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
}

/* COMPONENTS */
/* Buttons */
.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 1;
  font-weight: 700;
  text-transform: capitalize;
}
.btn.btn-w, .btn.btn-c, .btn.btn-b {
  transition: all 0.3s ease-in-out;
}
.btn.btn-w {
  background-color: #ffffff;
  border-color: #191919;
}
.btn.btn-w:hover, .btn.btn-w:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-bg {
  background-color: #f0efe9;
  border-color: #191919;
}
.btn.btn-bg:hover, .btn.btn-bg:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-c {
  background-color: #f9d783;
  border-color: #f9d783;
}
.btn.btn-c:hover, .btn.btn-c:focus {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.btn.btn-b {
  background-color: #191919;
  border-color: #191919;
  color: #f0efe9;
}
.btn.btn-b:hover, .btn.btn-b:focus {
  background-color: transparent;
  color: #191919;
}
.btn::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  margin-left: 0.5rem;
  font: var(--fa-font-solid);
  content: "\e09f";
}

.btn-round {
  gap: 1rem;
  font-weight: 700;
}
.btn-round i {
  padding: 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.btn-round:hover i, .btn-round:focus i {
  background-color: #191919;
  color: #ffffff;
}

/* Dots */
.dots {
  gap: 1.75rem;
  margin-bottom: 2rem;
}
.dots .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #84848a;
  opacity: 0.5;
  cursor: pointer;
}
.dots .dot.active, .dots .dot:hover {
  background-color: #191919;
  opacity: 1;
}

/* Social buttons */
.social {
  gap: 2rem;
}
.social a {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed transparent;
  border-radius: 50%; */
}
.social a, .social a i {
  transition: all 0.3s ease-in-out;
  line-height: 0;
  vertical-align: 0;
}
.social a i:hover, .social a i:focus {
  /* animation: spin-clock 1s linear infinite;
  border-color: $color-prim; 

  i { animation: spin-counter-clock 1s linear infinite; } */
  animation: popping 0.6s linear infinite;
}

/* Forms */
form fieldset legend {
  margin: 0;
}
form fieldset label {
  position: relative;
}
form fieldset label input, form fieldset label textarea {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
form fieldset label input:hover, form fieldset label input:focus, form fieldset label textarea:hover, form fieldset label textarea:focus {
  border: 1px solid #191919;
}
form fieldset label input:required, form fieldset label textarea:required {
  border-color: transparent;
}
form fieldset label input:required:hover:focus:invalid, form fieldset label input:required:focus:focus:invalid, form fieldset label textarea:required:hover:focus:invalid, form fieldset label textarea:required:focus:focus:invalid {
  border-color: red;
}
form fieldset label input:required:hover:focus:invalid + .icon::after, form fieldset label input:required:focus:focus:invalid + .icon::after, form fieldset label textarea:required:hover:focus:invalid + .icon::after, form fieldset label textarea:required:focus:focus:invalid + .icon::after {
  content: "\f057";
  color: red;
}
form fieldset label input:required:valid, form fieldset label textarea:required:valid {
  border-color: green;
}
form fieldset label input:required:valid + .icon::after, form fieldset label textarea:required:valid + .icon::after {
  content: "\f058";
  color: green;
}
form fieldset label input::placeholder, form fieldset label textarea::placeholder {
  color: #84848a;
}
form fieldset label input:focus::placeholder, form fieldset label textarea:focus::placeholder {
  color: transparent;
}
form fieldset label .icon {
  position: absolute;
  top: 0;
  right: 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
}
form fieldset label .icon::after {
  font: var(--fa-font-solid);
  font-size: 1.75rem;
  content: "";
}
form fieldset label .icon.top {
  top: 0.75rem;
  align-items: start;
}

/* ANIMATIONS */
/* Spin-pop */
@keyframes spin-pop {
  50% {
    scale: 0.2;
  }
  75% {
    transform: rotate(360deg);
    scale: 1.2;
  }
  100% {
    transform: rotate(360deg);
    scale: 1.1;
  }
}
/* Spin-clock UNUSED
@keyframes spin-clock {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Spin-counter-clock UNUSED
@keyframes spin-counter-clock {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
} */
/* Popping */
@keyframes popping {
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@media (max-width: 1520px) {
  /* GLOBAL */
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 992px) {
  /* GLOBAL */
  section:first-of-type {
    padding-top: 3rem;
  }
}
@media (max-width: 576px) {
  /* GLOBAL 576*/
  :root {
    font-size: 14px;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .btn::after {
    display: none;
  }
  section {
    padding: 3rem 0;
  }
  .row {
    margin: 0;
  }
  main i {
    scale: 0.6;
  }
}
/* MAIN.CONTACT-PAGE SECTIONS */
.contact-page section.hero {
  position: relative;
}
.contact-page section.hero img.bg-lines {
  max-width: 40dvw;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-page section.hero .container {
  justify-content: center;
  align-items: start;
}

.contact-page section.information {
  background-color: #ffffff;
  padding-bottom: 1.5rem;
}
.contact-page section.information .container .boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.contact-page section.information .container .boxes .box {
  padding: 1.5rem 3rem;
  border: 1px solid #f0efe9;
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: start;
}
.contact-page section.information .container .boxes .box .icon {
  height: 3rem;
  width: 3rem;
  background-color: #191919;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.contact-page section.information .container .boxes .box .text h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem 0;
  text-transform: none;
}
.contact-page section.information .container .boxes .box .text p {
  margin-bottom: 0;
  text-wrap: nowrap;
}

.contact-page section.form {
  background-color: #ffffff;
  padding: 1.5rem 0 7rem 0;
}
.contact-page section.form .container {
  background-color: #f0efe9;
}
.contact-page section.form .container form {
  padding: 7rem;
}
.contact-page section.form .container form fieldset {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.contact-page section.form .container form fieldset legend {
  width: 25%;
}
.contact-page section.form .container form fieldset legend h2 {
  text-transform: none;
}
.contact-page section.form .container form fieldset label, .contact-page section.form .container form fieldset input, .contact-page section.form .container form fieldset textarea, .contact-page section.form .container form fieldset button {
  width: 100%;
}
.contact-page section.form .container form fieldset button {
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.contact-page section.map .container {
  height: 640px;
  margin: 0;
  padding: 0;
  max-width: none;
  background-color: #0e1021;
  display: flex;
  align-items: start;
  justify-content: center;
}
.contact-page section.map .container .map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.contact-page section.map .container .map-wrapper iframe {
  width: 100%;
  height: 640px;
}
.contact-page section.map .container .map-wrapper small a {
  position: absolute;
  padding: 0 0.1rem;
  /*bottom: .5rem;
  left: .1rem;*/
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1520px) {
  /* SECTION INFORMATION 1520 */
  .contact-page section.information .container .boxes {
    /*flex-direction: column;
    align-items: center;*/
    flex-wrap: wrap;
  }
  .contact-page section.information .container .boxes .box {
    flex: none;
    width: 33dvw;
  }
  /* SECTION FORM 1520 */
  .contact-page section.form .container #contact-form fieldset legend {
    width: 50%;
  }
}
@media (max-width: 992px) {
  /* SECTION INFORMATION 992 */
  .contact-page section.information .container .boxes {
    flex-direction: column;
    align-items: center;
  }
  .contact-page section.information .container .boxes .box {
    width: 50dvw;
  }
  /* SECTION FORM 992 */
  .contact-page section.form .container #contact-form fieldset legend {
    width: 75%;
  }
  /* SECTION MAP 992 */
  .contact-page section.map .container {
    background-color: #ffffff;
    padding: 0 3rem;
  }
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 420px;
  }
}
@media (max-width: 768px) {
  /* SECTION INFORMATION 768 */
  .contact-page section.information .container .boxes .box {
    width: 100%;
  }
  /* SECTION FORM 768 */
  .contact-page section.form .container #contact-form {
    padding: 3rem 0;
  }
  .contact-page section.form .container #contact-form fieldset legend {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  /* SECTION INFORMATION 576 */
  .contact-page section.information .container .boxes .box .icon i {
    scale: 1;
  }
  /* SECTION FORM 768 */
  .contact-page section.form {
    padding-bottom: 3rem;
  }
  /* SECTION MAP 576 */
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 360px;
  }
  .contact-page section.map .container .map-wrapper small a {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
}