/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
.article-grid.cards {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.article-grid.cards a.card {
  width: 100%;
  border: none;
}
.article-grid.cards a.card .image-wrapper {
  position: relative;
}
.article-grid.cards a.card .image-wrapper img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.article-grid.cards a.card .image-wrapper .date-box {
  height: 5rem;
  width: 5rem;
  background-color: #f9d783;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-grid.cards a.card .image-wrapper .date-box p.date, .article-grid.cards a.card .image-wrapper .date-box p.month {
  margin: 0;
  padding: 0;
  line-height: 1.05;
}
.article-grid.cards a.card .image-wrapper .date-box .date {
  font-size: 1.75rem;
  font-weight: 700;
}
.article-grid.cards a.card .text {
  margin-top: 2rem;
  padding: 0 1rem;
}
.article-grid.cards a.card .line {
  margin: auto auto 0 auto;
  width: 0%;
  height: 3px;
  background-color: #f9d783;
}
.article-grid.cards a.card, .article-grid.cards a.card > * {
  transition: all 0.3s ease-in-out;
}
.article-grid.cards a.card:hover .text h3, .article-grid.cards a.card:focus .text h3 {
  text-decoration: underline;
}
.article-grid.cards a.card:hover .line, .article-grid.cards a.card:focus .line {
  width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .article-grid.cards {
    grid-template-columns: 1fr;
  }
}
.dots {
  gap: 1.75rem;
  margin-bottom: 2rem;
}
.dots .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #84848a;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dots .dot.active, .dots .dot:hover {
  background-color: #191919;
  opacity: 1;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 1;
  font-weight: 700;
  text-transform: capitalize;
}
.btn.btn-w, .btn.btn-c, .btn.btn-b {
  transition: all 0.3s ease-in-out;
}
.btn.btn-w {
  background-color: #ffffff;
  border-color: #191919;
}
.btn.btn-w:hover, .btn.btn-w:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-bg {
  background-color: #f0efe9;
  border-color: #191919;
}
.btn.btn-bg:hover, .btn.btn-bg:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-c {
  background-color: #f9d783;
  border-color: #f9d783;
}
.btn.btn-c:hover, .btn.btn-c:focus {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.btn.btn-b {
  background-color: #191919;
  border-color: #191919;
  color: #f0efe9;
}
.btn.btn-b:hover, .btn.btn-b:focus {
  background-color: transparent;
  color: #191919;
}
.btn::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  margin-left: 0.5rem;
  font: var(--fa-font-solid);
  content: "\e09f";
}

/* GLOBAL */
:root {
  font-size: 16px;
}

html, body, #root, main {
  background-color: #ffffff;
  max-width: 100dvw;
}
html > *, body > *, #root > *, main > * {
  color: #191919;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header, nav, main {
  background-color: #f0efe9;
}

footer {
  background-color: #191919;
}

section {
  padding: 7rem 0;
}
section.m-small {
  padding: 3rem 0;
}
section.m-none {
  padding: 0;
}

.container {
  max-width: 1520px;
  z-index: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #191919;
  font-weight: 700;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-weight: 700;
}

.highlight {
  color: red;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
}

/* COMPONENTS */
/* Buttons */
.btn-round {
  gap: 1rem;
  font-weight: 700;
}
.btn-round i {
  padding: 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.btn-round:hover i, .btn-round:focus i {
  background-color: #191919;
  color: #ffffff;
}

/* Social buttons */
.social {
  gap: 2rem;
}
.social a {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed transparent;
  border-radius: 50%; */
}
.social a, .social a i {
  transition: all 0.3s ease-in-out;
  line-height: 0;
  vertical-align: 0;
}
.social a i:hover, .social a i:focus {
  /* animation: spin-clock 1s linear infinite;
  border-color: $text-color-prim; 

  i { animation: spin-counter-clock 1s linear infinite; } */
  animation: popping 0.6s linear infinite;
}

/* Forms */
form fieldset legend {
  margin: 0;
}
form fieldset label {
  position: relative;
}
form fieldset label input, form fieldset label textarea {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
form fieldset label input:hover, form fieldset label input:focus, form fieldset label textarea:hover, form fieldset label textarea:focus {
  border: 1px solid #191919;
}
form fieldset label input:required, form fieldset label textarea:required {
  border-color: transparent;
}
form fieldset label input:required:hover:focus:invalid, form fieldset label input:required:focus:focus:invalid, form fieldset label textarea:required:hover:focus:invalid, form fieldset label textarea:required:focus:focus:invalid {
  border-color: red;
}
form fieldset label input:required:hover:focus:invalid + .icon::after, form fieldset label input:required:focus:focus:invalid + .icon::after, form fieldset label textarea:required:hover:focus:invalid + .icon::after, form fieldset label textarea:required:focus:focus:invalid + .icon::after {
  content: "\f057";
  color: red;
}
form fieldset label input:required:valid, form fieldset label textarea:required:valid {
  border-color: green;
}
form fieldset label input:required:valid + .icon::after, form fieldset label textarea:required:valid + .icon::after {
  content: "\f058";
  color: green;
}
form fieldset label input::placeholder, form fieldset label textarea::placeholder {
  color: #84848a;
}
form fieldset label input:focus::placeholder, form fieldset label textarea:focus::placeholder {
  color: transparent;
}
form fieldset label .icon {
  position: absolute;
  top: 0;
  right: 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
}
form fieldset label .icon::after {
  font: var(--fa-font-solid);
  font-size: 1.75rem;
  content: "";
}
form fieldset label .icon.top {
  top: 0.75rem;
  align-items: start;
}

/* ANIMATIONS */
/* Spin-pop */
@keyframes spin-pop {
  50% {
    scale: 0.2;
  }
  75% {
    transform: rotate(360deg);
    scale: 1.2;
  }
  100% {
    transform: rotate(360deg);
    scale: 1.1;
  }
}
/* Spin-clock UNUSED
@keyframes spin-clock {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Spin-counter-clock UNUSED
@keyframes spin-counter-clock {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
} */
/* Popping */
@keyframes popping {
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* GLOBAL */
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 992px) {
  /* GLOBAL */
  section:first-of-type {
    padding-top: 3rem;
  }
}
@media (max-width: 576px) {
  /* GLOBAL 576*/
  :root {
    font-size: 14px;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .btn::after {
    display: none;
  }
  section {
    padding: 3rem 0;
  }
  .container {
    padding: 0 1.5rem;
  }
  .row {
    margin: 0;
  }
  main i {
    scale: 0.6;
  }
}
/* HEADER */
header .navbar-brand {
  align-self: start;
  margin-top: 1.5rem;
}
header #navbarNav section {
  padding: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-areas: "contact social" "line line" "navi login";
  row-gap: 1rem;
}
header #navbarNav .line {
  grid-area: line;
  height: 1px;
  background-color: #dad9d3;
}
header #navbarNav .contact {
  grid-area: contact;
  justify-content: start;
}
header #navbarNav .contact div div {
  align-items: center;
  padding: 0 0.5rem;
}
header #navbarNav .contact div div span.tel, header #navbarNav .contact div div span.address {
  text-wrap: nowrap;
}
header #navbarNav .contact div div i {
  padding-right: var(--bs-navbar-nav-link-padding-x);
}
header #navbarNav .contact div div:not(:last-child) {
  border-right: 1px solid #dad9d3;
}
header #navbarNav .social {
  grid-area: social;
  justify-content: end;
}
header #navbarNav .social a {
  color: #191919;
}
header #navbarNav .navi {
  grid-area: navi;
  justify-content: start;
}
header #navbarNav .navi .navbar-nav {
  gap: 1rem;
}
header #navbarNav .navi .navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
}
header #navbarNav .navi .navbar-nav .nav-link::after {
  width: 0px;
  margin: 0.5rem auto;
  content: "";
  border-bottom: 1px solid #191919;
  transition: all 0.3s ease-in-out;
}
header #navbarNav .navi .navbar-nav .nav-link:hover, header #navbarNav .navi .navbar-nav .nav-link:focus, header #navbarNav .navi .navbar-nav .nav-link.active {
  color: #191919;
}
header #navbarNav .navi .navbar-nav .nav-link:hover::after, header #navbarNav .navi .navbar-nav .nav-link:focus::after, header #navbarNav .navi .navbar-nav .nav-link.active::after {
  width: 2rem;
}
header #navbarNav .login {
  grid-area: login;
  justify-content: end;
}

/* FOOTER */
footer {
  z-index: -5;
}
footer section {
  background-color: #0e1021;
}
footer section.top {
  padding: 7rem 0 3rem 0;
  position: relative;
}
footer section.top .lines {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer section.top .container {
  display: grid;
  grid-template-areas: "f-1 f-1 f-2 f-3 f-4 f-5";
  column-gap: 7rem;
}
footer section.top .f {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #84848a;
}
footer section.top .f h2 {
  font-size: 1.75rem;
  color: #ffffff;
}
footer section.top .f a {
  color: #84848a;
  display: flex;
  flex-direction: column;
}
footer section.top .f a::after {
  width: 0px;
  margin: 0.25rem 0;
  content: "";
  border-bottom: 1px solid #ffffff;
}
footer section.top .f a, footer section.top .f a::after {
  transition: all 0.3s ease-in-out;
}
footer section.top .f a:hover, footer section.top .f a:focus, footer section.top .f a.active {
  color: #ffffff;
}
footer section.top .f a:hover::after, footer section.top .f a:focus::after, footer section.top .f a.active::after {
  width: 100%;
}
footer section.top .f-1 {
  grid-area: f-1;
}
footer section.top .f-1 img {
  width: 66%;
}
footer section.top .f-1 .text {
  line-height: 1.75;
  color: #84848a;
}
footer section.top .f-2 {
  grid-area: f-2;
}
footer section.top .f-3 {
  grid-area: f-3;
}
footer section.top .f-4 {
  grid-area: f-4;
}
footer section.top .f-5 {
  grid-area: f-5;
}
footer section.bottom {
  padding: 2.5rem 0;
  border-top: 1px solid #84848a;
}
footer section.bottom .copyright {
  color: #84848a;
}
footer section.bottom .social a {
  color: #ffffff;
  /* &:hover {
      border-color: $bg-white;
  } */
}

/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* HEADER 1520 */
  header .address {
    display: flex;
    flex-direction: column;
  }
  /* FOOTER 1520 */
  footer section.top {
    padding-top: 3rem;
  }
  footer section.top .container {
    grid-template-areas: "f-1 f-1 f-1 f-1" "f-2 f-3 f-4 f-5";
    row-gap: 3rem;
  }
  footer section.top .container .f-1 {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 3rem;
  }
  footer section.top .container .f-1 img {
    flex: 1;
    width: 100%;
  }
  footer section.top .container .f-1 .text {
    flex: 5;
    margin: 0;
  }
}
@media (max-width: 992px) {
  /* HEADER 992 */
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 4px 2px -2px #dad9d3;
  }
  header .navbar a.navbar-brand {
    margin: 0;
  }
  header #navbarNav .nav {
    width: 100%;
    grid-template-areas: "contact contact contact contact contact contact contact" "line line line line line line line" "navi navi navi social social social login";
  }
  header .contact {
    justify-content: space-evenly;
  }
  header .contact div {
    width: 100%;
    justify-content: center;
  }
  header .contact div > div {
    align-items: center;
  }
  header .contact div > div i {
    padding-right: var(--bs-navbar-nav-link-padding-x);
  }
  header .social {
    justify-self: center;
    align-self: center;
  }
  header .navbar-nav {
    flex-direction: row;
    gap: calc(var(--bs-navbar-nav-link-padding-x) * 2);
  }
  header .navbar-nav .nav-item {
    padding: calc(var(--bs-navbar-nav-link-padding-x) * 0.5) var(--bs-navbar-nav-link-padding-x);
  }
  /* FOOTER 992 */
  footer section.top {
    padding-top: 3rem;
  }
  footer section.top .container {
    grid-template-areas: "f-1 f-1" "f-2 f-3" "f-4 f-5";
  }
}
@media (max-width: 768px) {
  /* GLOBAL */
  .container {
    padding: 0 1rem;
  }
  /*HEADER 768 */
  header #navbarNav .nav {
    grid-template-areas: "navi" "login" "line" "contact" "social";
    row-gap: 0rem;
    column-gap: 0rem;
  }
  header #navbarNav .nav .contact {
    width: 100%;
  }
  header #navbarNav .nav .contact div {
    flex-wrap: wrap;
  }
  header #navbarNav .nav .contact div div {
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    padding: 0;
    flex: 1;
  }
  header #navbarNav .nav .contact div i {
    padding-right: calc(var(--bs-navbar-nav-link-padding-x) * 1.5);
  }
  header #navbarNav .nav .social {
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
  }
  header #navbarNav .nav .navi {
    width: 100%;
    justify-content: start;
    align-items: start;
    padding-top: 0;
    border-top: none;
  }
  header #navbarNav .nav .navi .navbar-nav {
    width: 100%;
    justify-content: center;
    gap: 3rem;
  }
  header #navbarNav .nav .navi .navbar-nav .nav-item {
    padding: calc(var(--bs-navbar-nav-link-padding-x) * 0.5) var(--bs-navbar-nav-link-padding-x);
  }
  header #navbarNav .nav .navi .navbar-nav .nav-item a {
    text-align: center;
  }
  header #navbarNav .nav .login {
    justify-content: center;
    align-items: center;
    border-top: none;
    margin: 1rem 0 2rem 0;
  }
  header #navbarNav .nav .line {
    margin-bottom: 2rem;
  }
  /* FOOTER 768 */
  footer section.top .container {
    grid-template-areas: "f-1 f-1" "f-2 f-3" "f-4 f-5";
  }
  footer section.bottom .container {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
@media (max-width: 576px) {
  /* GLOBAL */
  .container {
    padding: 0 1.5rem;
  }
  /*HEADER 576 */
  header {
    /* position:fixed; */
  }
  header #navbarNav .nav {
    grid-template-areas: "navi" "login" "line" "contact" "social";
    row-gap: 0rem;
    column-gap: 0rem;
  }
  header #navbarNav .nav .contact {
    width: 100%;
  }
  header #navbarNav .nav .contact div {
    flex-wrap: wrap;
  }
  header #navbarNav .nav .contact div div {
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    padding: 0;
    flex-basis: 100%;
    margin-top: 1rem;
  }
  header #navbarNav .nav .contact div div:first-child {
    margin-top: 0;
  }
  header #navbarNav .nav .contact div div:last-child .address {
    flex-direction: row;
  }
  header #navbarNav .nav .contact div i {
    padding-right: calc(var(--bs-navbar-nav-link-padding-x) * 1.5);
  }
  header #navbarNav .nav .social {
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
  }
  header #navbarNav .nav .navi {
    width: 100%;
    justify-content: start;
    align-items: start;
    padding-top: 0;
    border-top: none;
  }
  header #navbarNav .nav .navi .navbar-nav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 3rem;
  }
  header #navbarNav .nav .navi .navbar-nav .nav-item {
    padding: calc(var(--bs-navbar-nav-link-padding-x) * 0.5) var(--bs-navbar-nav-link-padding-x);
  }
  header #navbarNav .nav .navi .navbar-nav .nav-item a {
    text-align: center;
  }
  /* FOOTER 576 */
  footer section.top .container {
    grid-template-areas: "f-2" "f-3" "f-4" "f-5" "f-1";
  }
  footer section.top .container .f-1 {
    flex-direction: column;
  }
  footer section.bottom .container {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
section.about {
  background-color: #ffffff;
}
section.about .container .row {
  gap: 5rem;
}
section.about .container .row .left {
  position: relative;
}
section.about .container .row .left .image-wrapper .image {
  height: 700px;
  width: 100%;
  object-fit: cover;
  padding-left: 3rem;
}
section.about .container .row .left .image-wrapper .lines {
  padding-left: 3rem;
  width: 45%;
  position: absolute;
  top: 10%;
  left: 0;
}
section.about .container .row .left .box {
  width: 60%;
  padding: 2rem;
  background-color: lightblue;
  position: absolute;
  bottom: 5rem;
  left: 0;
  box-shadow: -5px 10px 100px 10px #dad9d3;
}
section.about .container .row .left .box p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
}
section.about .container .row .left .box p:first-of-type span {
  font-size: 1rem;
}
section.about .container .row .right {
  padding: 1rem;
}
section.about .container .row .right h2 {
  font-weight: 700;
  text-transform: capitalize;
}
section.about .container .row .right .btngroup {
  gap: 3rem;
}
section.about .container .row .right .btngroup a.btn-round {
  color: #191919;
}

@media (max-width: 992px) {
  /* SECTION ABOUT 992 */
  section.about .container .row {
    flex-wrap: wrap-reverse;
  }
  section.about .container .row .right .text {
    margin: 1rem 0;
  }
  section.about .container .row .left {
    padding: 0;
  }
  section.about .container .row .left .image-wrapper .image, section.about .container .row .left .image-wrapper .lines {
    padding-left: 0;
  }
  section.about .container .row .left .image-wrapper .lines {
    width: 33%;
  }
  section.about .container .row .left .box {
    width: 100%;
    bottom: 0;
    box-shadow: none;
  }
}
@media (max-width: 576px) {
  /* SECTION ABOUT 576 */
  section.about .container {
    padding: 0;
  }
  section.about .container .row .right {
    padding: 0 2rem;
  }
}
section.contact-hero {
  position: relative;
}
section.contact-hero img.bg-lines {
  max-width: 40dvw;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
section.contact-hero .container {
  justify-content: center;
  align-items: flex-start;
}

section.contact-information {
  background-color: #ffffff;
  padding-bottom: 1.5rem;
}
section.contact-information .container .boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
section.contact-information .container .boxes .box {
  padding: 1.5rem 3rem;
  border: 1px solid #f0efe9;
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: start;
}
section.contact-information .container .boxes .box .icon {
  height: 3rem;
  width: 3rem;
  background-color: #191919;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
section.contact-information .container .boxes .box .text h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem 0;
  text-transform: none;
}
section.contact-information .container .boxes .box .text p {
  margin-bottom: 0;
  text-wrap: nowrap;
}

@media (max-width: 1520px) {
  /* SECTION INFORMATION 1520 */
  section.contact-information .container .boxes {
    /*flex-direction: column;
    align-items: center;*/
    flex-wrap: wrap;
  }
  section.contact-information .container .boxes .box {
    flex: none;
    width: 33dvw;
  }
}
@media (max-width: 992px) {
  /* SECTION INFORMATION 992 */
  section.contact-information .container .boxes {
    flex-direction: column;
    align-items: center;
  }
  section.contact-information .container .boxes .box {
    width: 50dvw;
  }
}
@media (max-width: 768px) {
  /* SECTION INFORMATION 768 */
  section.contact-information .container .boxes .box {
    width: 100%;
  }
}
@media (max-width: 576px) {
  /* SECTION INFORMATION 576 */
  section.contact-information .container .boxes .box .icon i {
    scale: 1;
  }
}
section.features {
  background-color: #ffffff;
}
section.features .container .box {
  border: 3px solid #f0efe9;
  padding: 5rem;
  gap: 5rem;
}
section.features .container .box .col .left .btn {
  width: 100%;
  margin-top: 3rem;
}
section.features .container .box .col .grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto auto;
  gap: 2rem 5rem;
}
section.features .container .box .col .grid div h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* SECTION FEATURES 768 */
  section.features .container .box {
    flex-direction: column;
    gap: 3rem;
  }
  section.features .container .box .col .grid {
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    gap: 2rem;
  }
}
@media (max-width: 576px) {
  /* SECTION FEATURES 576 */
  section.features .container .box {
    padding: 3rem;
  }
  section.features .container .box .col .grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem 0;
  }
}
section.articles-news {
  background-color: #ffffff;
}
section.articles-news .top {
  justify-content: space-between;
  align-items: flex-end;
}

/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* SECTION ARTICLES-NEWS 1520 */
  section.articles-news .top {
    flex-direction: column;
    align-items: start;
  }
  section.articles-news .top .btngroup {
    padding-top: 3rem;
  }
}
@media (max-width: 768px) {
  /* SECTION ARTICLES-NEWS 768 */
}
@media (max-width: 576px) {
  /* SECTION ARTICLES-NEWS 576 */
  section.articles-news .container .top .btngroup {
    padding: 1rem 0;
  }
}
section.hero {
  position: relative;
}
section.hero img.bg-lines {
  max-width: 50dvw;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
section.hero .container .left {
  gap: 3rem;
  flex: 1;
}
section.hero .container .left .content {
  z-index: 99;
}
section.hero .container .left .btngroup {
  display: flex;
  gap: 1rem;
}
section.hero .container .right {
  flex: 1;
}
section.hero .container .right .showcase-img {
  width: 50vw;
  position: relative;
  bottom: 0;
  right: -50px;
}

/* MEDIA QUERIES */
@media (max-width: 1590px) {
  /* SECTION.HERO 1590 */
  section.hero .container .right .showcase-img {
    right: 0;
  }
}
@media (max-width: 1520px) {
  /* SECTION.HERO 1520 */
  section.hero .container .right {
    position: relative;
  }
  section.hero .container .right .showcase-img {
    position: absolute;
  }
  section.hero .container .left {
    gap: 0;
  }
  section.hero .container .left .btngroup {
    padding-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  /* SECTION HERO 992 */
  section.hero .container .right {
    display: none;
  }
}
section.logo-bar {
  background-color: #ffffff;
}
section.logo-bar .logos {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
section.logo-bar .logos a {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
section.logo-bar .logos a img {
  mix-blend-mode: multiply;
}
section.logo-bar .logos a:hover, section.logo-bar .logos a:focus {
  scale: 1.2;
  background-color: transparent;
}
section.logo-bar .logos a:hover img, section.logo-bar .logos a:focus img {
  mix-blend-mode: multiply;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* SECTION LOGO-BAR 768 */
  section.logo-bar .container .logos {
    flex-wrap: nowrap;
  }
}
section.map .container {
  height: 640px;
  margin: 0;
  padding: 0;
  max-width: none;
  background-color: #0e1021;
  display: flex;
  align-items: start;
  justify-content: center;
}
section.map .container .map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
section.map .container .map-wrapper iframe {
  width: 100%;
  height: 640px;
}
section.map .container .map-wrapper small a {
  position: absolute;
  padding: 0 0.1rem;
  /*bottom: .5rem;
  left: .1rem;*/
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  /* SECTION MAP 992 */
  .contact-page section.map .container {
    background-color: #ffffff;
    padding: 0 3rem;
  }
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 420px;
  }
}
@media (max-width: 576px) {
  /* SECTION MAP 576 */
  .contact-page section.map .container, .contact-page section.map .map-wrapper, .contact-page section.map iframe {
    height: 360px;
  }
  .contact-page section.map .container .map-wrapper small a {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
}
section.project-case {
  background-color: #ffffff;
}
section.project-case .objects {
  width: 100%;
  margin: 5rem 0;
  display: grid;
  gap: 3rem;
  grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
  grid-template-rows: calc(500px - 1.5rem) calc(500px - 1.5rem);
}
section.project-case .objects a.object {
  color: #191919 !important;
  height: 500px;
  width: 100%;
}
section.project-case .objects a.object *, section.project-case .objects a.object > * {
  transition: all 0.4s ease-in-out;
}
section.project-case .objects a.object img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}
section.project-case .objects a.object h3 {
  align-self: start;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dad9d3;
  text-transform: none;
}
section.project-case .objects a.object .text {
  width: 100%;
  height: 0px;
  display: block;
  overflow: hidden;
}
section.project-case .objects a.object .btngroup {
  padding-top: 1rem;
  display: flex;
  justify-content: end;
}
section.project-case .objects a.object .btngroup .btn {
  border: none;
  padding: 0;
}
section.project-case .objects a.object:hover h3 {
  margin-top: 1rem;
}
section.project-case .objects a.object:hover img {
  height: 0px;
  display: block;
}
section.project-case .objects a.object:hover .text {
  height: 350px;
}
section.project-case .objects a.object:hover .btngroup .btn:hover, section.project-case .objects a.object:hover .btngroup .btn:focus {
  background-color: transparent;
  color: #191919;
  border: none;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  /* SECTION PROJECTS 992 */
  section.project-case .highlight, section.project-case h2 {
    align-self: start;
  }
  section.project-case .objects {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem 0;
    margin: 1rem 0;
  }
  section.project-case .objects a.object:hover h3, section.project-case .objects a.object:hover .btngroup .btn {
    text-decoration: underline;
  }
  section.project-case .objects a.object:hover img {
    height: 350px;
  }
  section.project-case .objects a.object:hover .text {
    height: 0px;
  }
}
section.service {
  position: relative;
}
section.service h2 {
  max-width: 50%;
}
section.service .cards {
  gap: 2rem;
  padding: 3rem 0;
}
section.service .cards .card {
  border: none;
  padding: 3rem 2rem;
  justify-content: space-between;
}
section.service .cards .card .line {
  height: 1px;
  width: 20%;
  background-color: #191919;
  margin-bottom: 2rem;
}
section.service .cards .card .btn-round {
  display: flex;
  justify-content: end;
}
section.service .cards .card .btn-round i {
  background-color: #191919;
  color: #ffffff;
  border: none;
}
section.service .cards .card, section.service .cards .card > * {
  transition: all 0.3s ease-in-out;
}
section.service .cards .card:hover, section.service .cards .card:focus {
  background-color: #f9d783;
}
section.service .cards .card:hover h3, section.service .cards .card:focus h3 {
  text-decoration: underline;
}
section.service .cards .card:hover i, section.service .cards .card:focus i {
  background-color: #ffffff;
  color: #191919;
}
section.service .cards .card.flipped {
  background-color: #f9d783;
}
section.service .cards .card.flipped .btn-round i {
  background-color: #ffffff;
  color: #191919;
}
section.service .cards .card.flipped:hover, section.service .cards .card.flipped:focus {
  background-color: #ffffff;
}
section.service .cards .card.flipped:hover i, section.service .cards .card.flipped:focus i {
  background-color: #191919;
  color: #ffffff;
}
section.service .btngroup .btn {
  width: fit-content;
}
section.service .lines {
  max-width: 50dvw;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* SECTION SERVICE 1520 */
  section.service h2 {
    max-width: 100%;
  }
  section.service .cards {
    flex-wrap: wrap;
  }
  section.service .cards .card {
    width: calc(50% - 1.5rem);
  }
}
@media (max-width: 768px) {
  /* SECTION SERVICE 768 */
  section.service .cards .card {
    width: 100%;
  }
}
section.team {
  background-color: #f9d783;
}
section.team .btn-c {
  border: 1px solid #191919;
}
section.team .cards {
  gap: 2rem;
  padding: 5rem 0 3rem 0;
}
section.team .cards .card {
  background-color: transparent;
  border: none;
  flex: 1;
}
section.team .cards .card img {
  height: 460px;
  object-fit: cover;
}
section.team .cards .card .text {
  margin-top: 2rem;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  /* SECTION TEAM 992 */
  section.team .container .top {
    flex-direction: column;
  }
  section.team .container .top .text {
    align-self: start;
  }
  section.team .container .top .btngroup {
    padding-top: 3rem;
  }
  section.team .container .cards {
    flex-wrap: wrap;
  }
  section.team .container .cards .card {
    flex-basis: 33%;
  }
}
@media (max-width: 576px) {
  /* SECTION TEAM 576 */
  section.team .container .cards .card {
    flex-basis: 100%;
  }
  section.team .container .cards .card img {
    height: 345px;
    object-position: auto 20%;
  }
}
section.testimonials {
  background-color: #f9d783;
}
section.testimonials .container {
  padding: 7rem 0;
  background-color: #ffffff;
  align-items: center;
}
section.testimonials .container .cards {
  padding: 7rem;
  gap: 7rem;
}
section.testimonials .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}
section.testimonials .container .cards .card .stars {
  letter-spacing: 0.5rem;
}
section.testimonials .container .cards .card .quote {
  line-height: 2rem;
}
section.testimonials .container .cards .card .person {
  gap: 1rem;
  align-items: center;
}
section.testimonials .container .cards .card .person img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
section.testimonials .container .cards .card .person .text h3, section.testimonials .container .cards .card .person .text p {
  margin: 0;
}
section.testimonials .container .cards .card .person .text p {
  color: red;
}

/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* SECTION TESTIMONIALS 1520 */
  section.testimonials {
    padding: 0 0 7rem 0;
  }
}
@media (max-width: 992px) {
  /* SECTION TESTIMONIALS 992 */
  section.testimonials .container {
    padding: 7rem 3rem;
  }
  section.testimonials .container .highlight, section.testimonials .container h2 {
    align-self: start;
  }
  section.testimonials .container .cards {
    padding: 3rem 0;
    gap: 1.5rem;
    flex-direction: column;
  }
  section.testimonials .container .cards .card {
    gap: 0;
    padding: 0 3rem;
    align-items: center;
  }
  section.testimonials .container .cards .card .stars {
    align-self: center;
  }
  section.testimonials .container .cards .card .quote {
    text-align: center;
  }
  section.testimonials .container .cards .card:not(:last-of-type)::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #dad9d3;
    margin-top: 1.5rem;
  }
}
@media (max-width: 576px) {
  /* SECTION TESTIMONIALS 576 */
  section.testimonials .container {
    padding: 3rem 1rem;
  }
}
section.why-us {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 0;
}
section.why-us .box {
  width: 55%;
  height: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f0efe9;
}
section.why-us .left {
  flex: 2;
}
section.why-us .left h2 {
  margin: 2rem 0;
}
section.why-us .left .objects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.why-us .left .objects a.object {
  color: #191919;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}
section.why-us .left .objects a.object .icon {
  height: 4.25rem;
  width: 4.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dad9d3;
  border-radius: 50%;
}
section.why-us .left .objects a.object, section.why-us .left .objects a.object .icon {
  transition: all 0.8s ease-in-out;
}
section.why-us .left .objects a.object:hover .icon, section.why-us .left .objects a.object:focus .icon {
  border-color: transparent;
  background-color: #191919;
  color: #ffffff;
}
section.why-us .left .objects a.object:hover .icon i, section.why-us .left .objects a.object:focus .icon i {
  animation-name: spin-pop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
section.why-us .left .objects a.object .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
section.why-us .left .objects a.object .text h3, section.why-us .left .objects a.object .text p {
  margin: 0;
}
section.why-us .right {
  flex: 3;
}
section.why-us .right .image-wrapper {
  padding-top: 4rem;
  width: 100%;
}
section.why-us .right .image-wrapper img {
  width: 700px;
  height: 550px;
  float: right;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  /* SECTION WHY US 992 */
  section.why-us .right, section.why-us .box {
    display: none;
  }
  section.why-us .left .objects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
section.newsletter {
  position: relative;
}
section.newsletter .container {
  justify-content: space-between;
  align-items: center;
}
section.newsletter .container form, section.newsletter .container fieldset {
  width: 100%;
}
section.newsletter .container form fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.newsletter .container form fieldset legend {
  flex: 7;
}
section.newsletter .container form fieldset legend h2 {
  margin: 0;
}
section.newsletter .container form fieldset .group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  flex: 5;
}
section.newsletter .container form fieldset .group label {
  flex-grow: 1;
  max-width: 20rem;
}
section.newsletter .container form fieldset .group label #email {
  width: 100%;
}
section.newsletter img {
  position: absolute;
  right: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1520px) {
  /* SECTION NEWSLETTER 1520 */
  section.newsletter .container {
    flex-direction: column;
    align-items: start;
    gap: 3rem;
  }
  section.newsletter .container form fieldset {
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
  }
  section.newsletter .container form fieldset .group {
    justify-content: start;
    flex: auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* SECTION NEWSLETTER 768 */
  section.newsletter .container form fieldset .group {
    flex-direction: column;
    align-items: start;
    width: 50dvw;
    gap: 1.5rem;
  }
  section.newsletter .container form fieldset .group label, section.newsletter .container form fieldset .group input, section.newsletter .container form fieldset .group button {
    width: 100%;
    max-width: 100%;
  }
  section.newsletter img {
    bottom: 33%;
  }
}
@media (max-width: 576px) {
  /* SECTION NEWSLETTER 576 */
  section.newsletter .container {
    gap: 2rem 0;
  }
  section.newsletter .container form fieldset .group {
    width: 100%;
  }
  section.newsletter .container form fieldset .group label input {
    padding: 1rem 2rem;
    position: relative;
    z-index: 5;
  }
  section.newsletter .container form fieldset .group label .icon {
    z-index: 10;
  }
}
section.contact-form {
  background-color: #ffffff;
  padding: 1.5rem 0 7rem 0;
}
section.contact-form .container {
  background-color: #f0efe9;
}
section.contact-form .container form {
  padding: 7rem;
}
section.contact-form .container form fieldset {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
section.contact-form .container form fieldset legend {
  width: 25%;
}
section.contact-form .container form fieldset legend h2 {
  text-transform: none;
}
section.contact-form .container form fieldset label, section.contact-form .container form fieldset input, section.contact-form .container form fieldset textarea, section.contact-form .container form fieldset button {
  width: 100%;
}
section.contact-form .container form fieldset button {
  padding: 1rem 2rem;
  margin-top: 2rem;
}

@media (max-width: 1520px) {
  /* SECTION FORM 1520 */
  section.contact-form .container #contact-form fieldset legend {
    width: 50%;
  }
}
@media (max-width: 992px) {
  /* SECTION FORM 992 */
  section.contact-form .container #contact-form fieldset legend {
    width: 75%;
  }
}
@media (max-width: 768px) {
  /* SECTION FORM 768 */
  section.contact-form .container #contact-form {
    padding: 3rem 0;
  }
  section.contact-form .container #contact-form fieldset legend {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  /* SECTION FORM 576 */
  section.contact-form.form {
    padding-bottom: 3rem;
  }
}/*# sourceMappingURL=global.css.map */