/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
/* VARIABLES */
/* MIXINS */
/* GLOBAL */
:root {
  font-size: 16px;
}

html, body, main {
  background-color: #ffffff;
  /* &, header, footer {
      width: 100dvw;
  }*/
  z-index: -99;
}
html > *, body > *, main > * {
  color: #191919;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header, nav, main {
  background-color: #f0efe9;
}

footer {
  background-color: #191919;
}

section {
  padding: 7rem 0;
}
section.m-small {
  padding: 3rem 0;
}
section.m-none {
  padding: 0;
}

.container {
  max-width: 1520px;
  z-index: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #191919;
  font-weight: 700;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-weight: 700;
}

.highlight {
  color: red;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
}

/* COMPONENTS */
/* Buttons */
.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 1;
  font-weight: 700;
  text-transform: capitalize;
}
.btn.btn-w, .btn.btn-c, .btn.btn-b {
  transition: all 0.3s ease-in-out;
}
.btn.btn-w {
  background-color: #ffffff;
  border-color: #191919;
}
.btn.btn-w:hover, .btn.btn-w:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-bg {
  background-color: #f0efe9;
  border-color: #191919;
}
.btn.btn-bg:hover, .btn.btn-bg:focus {
  background-color: #191919;
  color: #ffffff;
}
.btn.btn-c {
  background-color: #f9d783;
  border-color: #f9d783;
}
.btn.btn-c:hover, .btn.btn-c:focus {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.btn.btn-b {
  background-color: #191919;
  border-color: #191919;
  color: #f0efe9;
}
.btn.btn-b:hover, .btn.btn-b:focus {
  background-color: transparent;
  color: #191919;
}
.btn::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  margin-left: 0.5rem;
  font: var(--fa-font-solid);
  content: "\e09f";
}

.btn-round {
  gap: 1rem;
  font-weight: 700;
}
.btn-round i {
  padding: 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.btn-round:hover i, .btn-round:focus i {
  background-color: #191919;
  color: #ffffff;
}

/* Dots */
.dots {
  gap: 1.75rem;
  margin-bottom: 2rem;
}
.dots .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #84848a;
  opacity: 0.5;
  cursor: pointer;
}
.dots .dot.active, .dots .dot:hover {
  background-color: #191919;
  opacity: 1;
}

/* Social buttons */
.social {
  gap: 2rem;
}
.social a {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed transparent;
  border-radius: 50%; */
}
.social a, .social a i {
  transition: all 0.3s ease-in-out;
  line-height: 0;
  vertical-align: 0;
}
.social a i:hover, .social a i:focus {
  /* animation: spin-clock 1s linear infinite;
  border-color: $color-prim; 

  i { animation: spin-counter-clock 1s linear infinite; } */
  animation: popping 0.6s linear infinite;
}

/* Forms */
form fieldset legend {
  margin: 0;
}
form fieldset label {
  position: relative;
}
form fieldset label input, form fieldset label textarea {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
form fieldset label input:hover, form fieldset label input:focus, form fieldset label textarea:hover, form fieldset label textarea:focus {
  border: 1px solid #191919;
}
form fieldset label input:required, form fieldset label textarea:required {
  border-color: transparent;
}
form fieldset label input:required:hover:focus:invalid, form fieldset label input:required:focus:focus:invalid, form fieldset label textarea:required:hover:focus:invalid, form fieldset label textarea:required:focus:focus:invalid {
  border-color: red;
}
form fieldset label input:required:hover:focus:invalid + .icon::after, form fieldset label input:required:focus:focus:invalid + .icon::after, form fieldset label textarea:required:hover:focus:invalid + .icon::after, form fieldset label textarea:required:focus:focus:invalid + .icon::after {
  content: "\f057";
  color: red;
}
form fieldset label input:required:valid, form fieldset label textarea:required:valid {
  border-color: green;
}
form fieldset label input:required:valid + .icon::after, form fieldset label textarea:required:valid + .icon::after {
  content: "\f058";
  color: green;
}
form fieldset label input::placeholder, form fieldset label textarea::placeholder {
  color: #84848a;
}
form fieldset label input:focus::placeholder, form fieldset label textarea:focus::placeholder {
  color: transparent;
}
form fieldset label .icon {
  position: absolute;
  top: 0;
  right: 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
}
form fieldset label .icon::after {
  font: var(--fa-font-solid);
  font-size: 1.75rem;
  content: "";
}
form fieldset label .icon.top {
  top: 0.75rem;
  align-items: start;
}

/* ANIMATIONS */
/* Spin-pop */
@keyframes spin-pop {
  50% {
    scale: 0.2;
  }
  75% {
    transform: rotate(360deg);
    scale: 1.2;
  }
  100% {
    transform: rotate(360deg);
    scale: 1.1;
  }
}
/* Spin-clock UNUSED
@keyframes spin-clock {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Spin-counter-clock UNUSED
@keyframes spin-counter-clock {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
} */
/* Popping */
@keyframes popping {
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@media (max-width: 1520px) {
  /* GLOBAL */
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 992px) {
  /* GLOBAL */
  section:first-of-type {
    padding-top: 3rem;
  }
}
@media (max-width: 576px) {
  /* GLOBAL 576*/
  :root {
    font-size: 14px;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .btn::after {
    display: none;
  }
  section {
    padding: 3rem 0;
  }
  .row {
    margin: 0;
  }
  main i {
    scale: 0.6;
  }
}
/* MAIN.START-PAGE SECTIONS */
.start-page section.hero {
  position: relative;
}
.start-page section.hero img.bg-lines {
  max-width: 50dvw;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.start-page section.hero .container .left {
  gap: 3rem;
  flex: 1;
}
.start-page section.hero .container .left .content {
  z-index: 99;
}
.start-page section.hero .container .left .btngroup {
  display: flex;
  gap: 1rem;
}
.start-page section.hero .container .right {
  flex: 1;
}
.start-page section.hero .container .right .showcase-img {
  width: 50vw;
  position: relative;
  bottom: 0;
  right: -50px;
}

.start-page section.logo-bar {
  background-color: #ffffff;
}
.start-page section.logo-bar .logos {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.start-page section.logo-bar .logos a {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.start-page section.logo-bar .logos a img {
  mix-blend-mode: multiply;
}
.start-page section.logo-bar .logos a:hover, .start-page section.logo-bar .logos a:focus {
  scale: 1.2;
  background-color: transparent;
}
.start-page section.logo-bar .logos a:hover img, .start-page section.logo-bar .logos a:focus img {
  mix-blend-mode: multiply;
}

.start-page section.features {
  background-color: #ffffff;
}
.start-page section.features .container .box {
  border: 3px solid #f0efe9;
  padding: 5rem;
  gap: 5rem;
}
.start-page section.features .container .box .col .left .btn {
  width: 100%;
  margin-top: 3rem;
}
.start-page section.features .container .box .col .grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto auto;
  gap: 2rem 5rem;
}
.start-page section.features .container .box .col .grid div h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}

.start-page section.about {
  background-color: #ffffff;
}
.start-page section.about .container .row {
  gap: 5rem;
}
.start-page section.about .container .row .left {
  position: relative;
}
.start-page section.about .container .row .left .image-wrapper .image {
  height: 700px;
  width: 100%;
  object-fit: cover;
  padding-left: 3rem;
}
.start-page section.about .container .row .left .image-wrapper .lines {
  padding-left: 3rem;
  width: 45%;
  position: absolute;
  top: 10%;
  left: 0;
}
.start-page section.about .container .row .left .box {
  width: 60%;
  padding: 2rem;
  background-color: lightblue;
  position: absolute;
  bottom: 5rem;
  left: 0;
  box-shadow: -5px 10px 100px 10px #dad9d3;
}
.start-page section.about .container .row .left .box p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
}
.start-page section.about .container .row .left .box p:first-of-type span {
  font-size: 1rem;
}
.start-page section.about .container .row .right {
  padding: 1rem;
}
.start-page section.about .container .row .right h2 {
  font-weight: 700;
  text-transform: capitalize;
}
.start-page section.about .container .row .right .btngroup {
  gap: 3rem;
}

.start-page section.service {
  position: relative;
}
.start-page section.service h2 {
  max-width: 50%;
}
.start-page section.service .cards {
  gap: 2rem;
  padding: 3rem 0;
}
.start-page section.service .cards .card {
  border: none;
  padding: 3rem 2rem;
  justify-content: space-between;
}
.start-page section.service .cards .card .line {
  height: 1px;
  width: 20%;
  background-color: #191919;
  margin-bottom: 2rem;
}
.start-page section.service .cards .card .btn-round {
  display: flex;
  justify-content: end;
}
.start-page section.service .cards .card .btn-round i {
  background-color: #191919;
  color: #ffffff;
  border: none;
}
.start-page section.service .cards .card, .start-page section.service .cards .card > * {
  transition: all 0.3s ease-in-out;
}
.start-page section.service .cards .card:hover, .start-page section.service .cards .card:focus {
  background-color: #f9d783;
}
.start-page section.service .cards .card:hover h3, .start-page section.service .cards .card:focus h3 {
  text-decoration: underline;
}
.start-page section.service .cards .card:hover i, .start-page section.service .cards .card:focus i {
  background-color: #ffffff;
  color: #191919;
}
.start-page section.service .cards .card.flipped {
  background-color: #f9d783;
}
.start-page section.service .cards .card.flipped .btn-round i {
  background-color: #ffffff;
  color: #191919;
}
.start-page section.service .cards .card.flipped:hover, .start-page section.service .cards .card.flipped:focus {
  background-color: #ffffff;
}
.start-page section.service .cards .card.flipped:hover i, .start-page section.service .cards .card.flipped:focus i {
  background-color: #191919;
  color: #ffffff;
}
.start-page section.service .btngroup .btn {
  width: fit-content;
}
.start-page section.service .lines {
  max-width: 50dvw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.start-page section.why-us {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 0;
}
.start-page section.why-us .box {
  width: 55%;
  height: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f0efe9;
}
.start-page section.why-us .left {
  flex: 2;
}
.start-page section.why-us .left h2 {
  margin: 2rem 0;
}
.start-page section.why-us .left .objects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.start-page section.why-us .left .objects a.object {
  color: #191919;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}
.start-page section.why-us .left .objects a.object .icon {
  height: 4.25rem;
  width: 4.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dad9d3;
  border-radius: 50%;
}
.start-page section.why-us .left .objects a.object, .start-page section.why-us .left .objects a.object .icon {
  transition: all 0.8s ease-in-out;
}
.start-page section.why-us .left .objects a.object:hover .icon, .start-page section.why-us .left .objects a.object:focus .icon {
  border-color: transparent;
  background-color: #191919;
  color: #ffffff;
}
.start-page section.why-us .left .objects a.object:hover .icon i, .start-page section.why-us .left .objects a.object:focus .icon i {
  animation-name: spin-pop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.start-page section.why-us .left .objects a.object .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
.start-page section.why-us .left .objects a.object .text h3, .start-page section.why-us .left .objects a.object .text p {
  margin: 0;
}
.start-page section.why-us .right {
  flex: 3;
}
.start-page section.why-us .right .image-wrapper {
  padding-top: 4rem;
  width: 100%;
}
.start-page section.why-us .right .image-wrapper img {
  width: 700px;
  height: 550px;
  float: right;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

.start-page section.project-case {
  background-color: #ffffff;
}
.start-page section.project-case .objects {
  width: 100%;
  margin: 5rem 0;
  display: grid;
  gap: 3rem;
  grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
  grid-template-rows: calc(500px - 1.5rem) calc(500px - 1.5rem);
}
.start-page section.project-case .objects a.object {
  color: #191919 !important;
  height: 500px;
  width: 100%;
}
.start-page section.project-case .objects a.object *, .start-page section.project-case .objects a.object > * {
  transition: all 0.4s ease-in-out;
}
.start-page section.project-case .objects a.object img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}
.start-page section.project-case .objects a.object h3 {
  align-self: start;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dad9d3;
  text-transform: none;
}
.start-page section.project-case .objects a.object .text {
  width: 100%;
  height: 0px;
  display: block;
  overflow: hidden;
}
.start-page section.project-case .objects a.object .btngroup {
  padding-top: 1rem;
  display: flex;
  justify-content: end;
}
.start-page section.project-case .objects a.object .btngroup .btn {
  border: none;
  padding: 0;
}
.start-page section.project-case .objects a.object:hover h3 {
  margin-top: 1rem;
}
.start-page section.project-case .objects a.object:hover img {
  height: 0px;
  display: block;
}
.start-page section.project-case .objects a.object:hover .text {
  height: 350px;
}
.start-page section.project-case .objects a.object:hover .btngroup .btn:hover, .start-page section.project-case .objects a.object:hover .btngroup .btn:focus {
  background-color: transparent;
  color: #191919;
  border: none;
}

.start-page section.team {
  background-color: #f9d783;
}
.start-page section.team .btn-c {
  border: 1px solid #191919;
}
.start-page section.team .cards {
  gap: 2rem;
  padding: 5rem 0 3rem 0;
}
.start-page section.team .cards .card {
  background-color: transparent;
  border: none;
  flex: 1;
}
.start-page section.team .cards .card img {
  height: 460px;
  object-fit: cover;
}
.start-page section.team .cards .card .text {
  margin-top: 2rem;
}

.start-page section.testimonials {
  background-color: #f9d783;
}
.start-page section.testimonials .container {
  padding: 7rem 0;
  background-color: #ffffff;
  align-items: center;
}
.start-page section.testimonials .container .cards {
  padding: 7rem;
  gap: 7rem;
}
.start-page section.testimonials .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}
.start-page section.testimonials .container .cards .card .stars {
  letter-spacing: 0.5rem;
}
.start-page section.testimonials .container .cards .card .quote {
  line-height: 2rem;
}
.start-page section.testimonials .container .cards .card .person {
  gap: 1rem;
  align-items: center;
}
.start-page section.testimonials .container .cards .card .person img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.start-page section.testimonials .container .cards .card .person .text h3, .start-page section.testimonials .container .cards .card .person .text p {
  margin: 0;
}
.start-page section.testimonials .container .cards .card .person .text p {
  color: red;
}

.start-page section.articles-news {
  background-color: #ffffff;
}
.start-page section.articles-news .top {
  justify-content: space-between;
  align-items: end;
}
.start-page section.articles-news .cards {
  padding: 3rem 0;
  gap: 2rem;
}
.start-page section.articles-news .cards a.card {
  flex: 1;
  border: none;
}
.start-page section.articles-news .cards a.card .image-wrapper {
  position: relative;
}
.start-page section.articles-news .cards a.card .image-wrapper img {
  width: 100%;
  max-height: 280px;
  object-fit: fill;
}
.start-page section.articles-news .cards a.card .image-wrapper .date-box {
  height: 5rem;
  width: 5rem;
  background-color: #f9d783;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-page section.articles-news .cards a.card .image-wrapper .date-box p.date, .start-page section.articles-news .cards a.card .image-wrapper .date-box p.month {
  margin: 0;
  padding: 0;
  line-height: 1.05;
}
.start-page section.articles-news .cards a.card .image-wrapper .date-box .date {
  font-size: 1.75rem;
  font-weight: 700;
}
.start-page section.articles-news .cards a.card .text {
  margin-top: 2rem;
}
.start-page section.articles-news .cards a.card .line {
  margin: 0 auto;
  width: 0%;
  height: 3px;
  background-color: #f9d783;
}
.start-page section.articles-news .cards a.card, .start-page section.articles-news .cards a.card > * {
  transition: all 0.3s ease-in-out;
}
.start-page section.articles-news .cards a.card:hover .text h3, .start-page section.articles-news .cards a.card:focus .text h3 {
  text-decoration: underline;
}
.start-page section.articles-news .cards a.card:hover .line, .start-page section.articles-news .cards a.card:focus .line {
  width: 100%;
}

.start-page section.newsletter {
  position: relative;
}
.start-page section.newsletter .container {
  justify-content: space-between;
  align-items: center;
}
.start-page section.newsletter .container form, .start-page section.newsletter .container fieldset {
  width: 100%;
}
.start-page section.newsletter .container form fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-page section.newsletter .container form fieldset legend {
  flex: 7;
}
.start-page section.newsletter .container form fieldset legend h2 {
  margin: 0;
}
.start-page section.newsletter .container form fieldset .group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  flex: 5;
}
.start-page section.newsletter .container form fieldset .group label {
  flex-grow: 1;
  max-width: 20rem;
}
.start-page section.newsletter .container form fieldset .group label #email {
  width: 100%;
}
.start-page section.newsletter img {
  position: absolute;
  right: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1590px) {
  /* SECTION.HERO 1590 */
  .start-page section.hero .container .right .showcase-img {
    right: 0;
  }
}
@media (max-width: 1520px) {
  /* SECTION.HERO 1520 */
  .start-page section.hero .container .right {
    position: relative;
  }
  .start-page section.hero .container .right .showcase-img {
    position: absolute;
  }
  .start-page section.hero .container .left {
    gap: 0;
  }
  .start-page section.hero .container .left .btngroup {
    padding-bottom: 3rem;
  }
  /* SECTION SERVICE 1520 */
  .start-page section.service h2 {
    max-width: 100%;
  }
  .start-page section.service .cards {
    flex-wrap: wrap;
  }
  .start-page section.service .cards .card {
    width: calc(50% - 1.5rem);
  }
  /* SECTION TESTIMONIALS 1520 */
  .start-page section.testimonials {
    padding: 0 0 7rem 0;
  }
  /* SECTION ARTICLES-NEWS 1520 */
  .start-page section.articles-news .top {
    flex-direction: column;
    align-items: start;
  }
  .start-page section.articles-news .top .btngroup {
    padding-top: 3rem;
  }
  .start-page section.articles-news .cards {
    flex-wrap: wrap;
  }
  .start-page section.articles-news .cards .card {
    flex-basis: 45%;
  }
  .start-page section.articles-news .cards .card .image-wrapper img {
    object-fit: cover;
    aspect-ratio: 3/2;
  }
  .start-page section.articles-news .cards .card:first-child {
    flex-basis: 100%;
  }
  .start-page section.articles-news .cards .card:first-child .image-wrapper img {
    max-height: 100%;
  }
  /* SECTION NEWSLETTER 1520 */
  .start-page section.newsletter .container {
    flex-direction: column;
    align-items: start;
    gap: 3rem;
  }
  .start-page section.newsletter .container form fieldset {
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
  }
  .start-page section.newsletter .container form fieldset .group {
    justify-content: start;
    flex: auto;
    width: 100%;
  }
}
@media (max-width: 992px) {
  /* SECTION HERO 992 */
  .start-page section.hero .container .right {
    display: none;
  }
  /* SECTION ABOUT 992 */
  .start-page section.about .container .row {
    flex-wrap: wrap-reverse;
  }
  .start-page section.about .container .row .right .text {
    margin: 1rem 0;
  }
  .start-page section.about .container .row .left {
    padding: 0;
  }
  .start-page section.about .container .row .left .image-wrapper .image, .start-page section.about .container .row .left .image-wrapper .lines {
    padding-left: 0;
  }
  .start-page section.about .container .row .left .image-wrapper .lines {
    width: 33%;
  }
  .start-page section.about .container .row .left .box {
    width: 100%;
    bottom: 0;
    box-shadow: none;
  }
  /* SECTION WHY US 992 */
  .start-page section.why-us .right, .start-page section.why-us .box {
    display: none;
  }
  .start-page section.why-us .left .objects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* SECTION PROJECTS 992 */
  .start-page section.project-case .highlight, .start-page section.project-case h2 {
    align-self: start;
  }
  .start-page section.project-case .objects {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem 0;
    margin: 1rem 0;
  }
  .start-page section.project-case .objects a.object:hover h3, .start-page section.project-case .objects a.object:hover .btngroup .btn {
    text-decoration: underline;
  }
  .start-page section.project-case .objects a.object:hover img {
    height: 350px;
  }
  .start-page section.project-case .objects a.object:hover .text {
    height: 0px;
  }
  /* SECTION TEAM 992 */
  .start-page section.team .container .top {
    flex-direction: column;
  }
  .start-page section.team .container .top .text {
    align-self: start;
  }
  .start-page section.team .container .top .btngroup {
    padding-top: 3rem;
  }
  .start-page section.team .container .cards {
    flex-wrap: wrap;
  }
  .start-page section.team .container .cards .card {
    flex-basis: 33%;
  }
  /* SECTION TESTIMONIALS 992 */
  .start-page section.testimonials .container {
    padding: 7rem 3rem;
  }
  .start-page section.testimonials .container .highlight, .start-page section.testimonials .container h2 {
    align-self: start;
  }
  .start-page section.testimonials .container .cards {
    padding: 3rem 0;
    gap: 1.5rem;
    flex-direction: column;
  }
  .start-page section.testimonials .container .cards .card {
    gap: 0;
    padding: 0 3rem;
    align-items: center;
  }
  .start-page section.testimonials .container .cards .card .stars {
    align-self: center;
  }
  .start-page section.testimonials .container .cards .card .quote {
    text-align: center;
  }
  .start-page section.testimonials .container .cards .card:not(:last-of-type)::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #dad9d3;
    margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
  /* SECTION FEATURES 768 */
  .start-page section.logo-bar .container .logos {
    flex-wrap: nowrap;
  }
  /* SECTION FEATURES 768 */
  .start-page section.features .container .box {
    flex-direction: column;
    gap: 3rem;
  }
  .start-page section.features .container .box .col .grid {
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    gap: 2rem;
  }
  /* SECTION SERVICE 768 */
  .start-page section.service .cards .card {
    width: 100%;
  }
  /* SECTION ARTICLES-NEWS 768 */
  .start-page section.articles-news .container .cards {
    gap: 2rem 0;
  }
  .start-page section.articles-news .container .cards .card {
    flex-basis: 100%;
  }
  /* SECTION NEWSLETTER 768 */
  .start-page section.newsletter .container form fieldset .group {
    flex-direction: column;
    align-items: start;
    width: 50dvw;
    gap: 1.5rem;
  }
  .start-page section.newsletter .container form fieldset .group label, .start-page section.newsletter .container form fieldset .group input, .start-page section.newsletter .container form fieldset .group button {
    width: 100%;
    max-width: 100%;
  }
  .start-page section.newsletter img {
    bottom: 33%;
  }
}
@media (max-width: 576px) {
  /* GLOBAL 576 */
  .container {
    padding: 0 1.5rem;
  }
  /* SECTION FEATURES 576 */
  .start-page section.features .container .box {
    padding: 3rem;
  }
  .start-page section.features .container .box .col .grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem 0;
  }
  /* SECTION ABOUT 576 */
  .start-page section.about .container {
    padding: 0;
  }
  .start-page section.about .container .row .right {
    padding: 0 2rem;
  }
  /* SECTION TEAM 576 */
  .start-page section.team .container .cards .card {
    flex-basis: 100%;
  }
  .start-page section.team .container .cards .card img {
    height: 345px;
    object-position: auto 20%;
  }
  /* SECTION TESTIMONIALS 576 */
  .start-page section.testimonials .container {
    padding: 3rem 1rem;
  }
  /* SECTION ARTICLES-NEWS 576 */
  .start-page section.articles-news .container .top .btngroup {
    padding: 1rem 0;
  }
  .start-page section.articles-news .container .cards .card {
    flex-basis: 100%;
  }
  /* SECTION NEWSLETTER 576 */
  .start-page section.newsletter .container {
    gap: 2rem 0;
  }
  .start-page section.newsletter .container form fieldset .group {
    width: 100%;
  }
  .start-page section.newsletter .container form fieldset .group label input {
    padding: 1rem 2rem;
    position: relative;
    z-index: 5;
  }
  .start-page section.newsletter .container form fieldset .group label .icon {
    z-index: 10;
  }
}