section.features {
    background-color: $bg-white;
    

    .container {

        .box {
            border: 3px solid $bg-color;
            padding: 5rem;
            gap: 5rem;

            .col .left {

                .btn {
                    width: 100%;
                    margin-top: 3rem;
                }
            }

            .col .grid {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: auto auto;
                gap: 2rem 5rem;
                
                div{
                    h3 {
                        font-size: 1.5rem;
                        margin: 1.5rem 0 1rem 0;
                    }
                }
            }
        }
    }
}

/* MEDIA QUERIES */
@media (max-width: 768px) { 
    /* SECTION FEATURES 768 */
     section.features {
        .container .box {
            flex-direction: column;
            gap: 3rem;

            .col .grid {
                grid-template-columns: 45% 45%;
                grid-template-rows: auto;
                gap: 2rem;
            }
       }
    }
}

@media (max-width: 576px) {
    /* SECTION FEATURES 576 */
     section.features .container {
     .box {
        padding: 3rem;

            .col .grid {
                grid-template-columns: 100%;
                grid-template-rows: auto;
                gap: 2rem 0;
            }
        }
    }
}