.btn {
    padding: 1rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    z-index: 1;
    font-weight: 700;
    text-transform: capitalize;
  }
  .btn.btn-w, .btn.btn-c, .btn.btn-b {
    transition: all 0.3s ease-in-out;
  }
  .btn.btn-w {
    background-color: #ffffff;
    border-color: #191919;
  }
  .btn.btn-w:hover, .btn.btn-w:focus {
    background-color: #191919;
    color: #ffffff;
  }
  .btn.btn-bg {
    background-color: #f0efe9;
    border-color: #191919;
  }
  .btn.btn-bg:hover, .btn.btn-bg:focus {
    background-color: #191919;
    color: #ffffff;
  }
  .btn.btn-c {
    background-color: #f9d783;
    border-color: #f9d783;
  }
  .btn.btn-c:hover, .btn.btn-c:focus {
    background-color: #191919;
    border-color: #191919;
    color: #ffffff;
  }
  .btn.btn-b {
    background-color: #191919;
    border-color: #191919;
    color: #f0efe9;
  }
  .btn.btn-b:hover, .btn.btn-b:focus {
    background-color: transparent;
    color: #191919;
  }
  .btn::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    margin-left: 0.5rem;
    font: var(--fa-font-solid);
    content: "\e09f";
  }